<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" id="main">
      Aviva Power<br>
      <p style="font-size: 16px"> Energy Everywhere</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-6 " id="ww">
      <span> &copy; 2019, Made with ❤️ & &#9749; by </span>
      <a href="https://www.facebook.com/umar.qadeer.5">Umar Qadeer</a> &nbsp;
      <!-- <img src="http://hitwebcounter.com/counter/counter.php?page=7024914&style=0007&nbdigits=5&type=page&initCount=1"
      title="Total Visits"> -->
    </div>    
    
    <div class="col-md-6 col-sm-6">
      <ul>
          <li>
              <a routerLink="/home">Home</a>
          </li>&nbsp;
          <li>
              <a routerLink="/aboutus">About Us</a>
          </li>&nbsp;
          <li>
              <a routerLink="/services">Services</a>
          </li>&nbsp;
          <li>
              <a routerLink="/projects">Projects</a>
          </li>&nbsp;
          <li>
              <a routerLink="/gallery">Gallery</a>
          </li>&nbsp;
          <li>
              <a routerLink="/contactus">Contact</a>
          </li>
      </ul>
      </div>
  </div>
</div>
<a id="back2Top" href="#">&#8613;</a>