<div class="container-fluid">
  <div id="uma" class="carousel slide" data-ride="carousel" data-interval="4000">
    <ol class="carousel-indicators">
      <li data-target="#uma" data-slide-to="0" class="active"></li>
      <li data-target="#uma" data-slide-to="1"></li>
      <li data-target="#uma" data-slide-to="2"></li>
      <li data-target="#uma" data-slide-to="3"></li>
      <li data-target="#uma" data-slide-to="4"></li>
      <li data-target="#uma" data-slide-to="5"></li>
      <li data-target="#uma" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner fullheight">
      <div class="item active">
        <img src="assets\images\slideshow\1.jpg" />
        <div class="carousel-caption">
          <section class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="2s">
            <h4>Aviva Power</h4>
            <h3>
              Best In Solar Power
            </h3>
            <br><br>
          </section>
        </div>

      </div>
      <div class="item">
        <img src="assets\images\slideshow\2.jpg" />
        <div class="carousel-caption">
          <section class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="1s">
            <h4>Energizing India </h4>
            <h3>
              Save Electricity, Save Planet
            </h3>
            <br><br>
          </section>
        </div>
      </div>
      <div class="item">
        <img src="assets\images\slideshow\3.jpg" />
        <div class="carousel-caption">
          <section class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="1s">
            <h4>Solar Energy </h4>
            <h3>
              Clean, Safe, Renewable
            </h3>
            <br><br>
          </section>
        </div>
      </div>
      <div class="item">
        <img src="assets\images\slideshow\4.jpg" />
        <div class="carousel-caption">
          <section class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="1s">
            <h4>Low Maintainance </h4>
            <h3>
              Solar cells generally doesn’t require much maintenance and run for a long time without creating noise or
              toxic substance.
            </h3>
            <br><br>
          </section>
        </div>
      </div>
      <div class="item">
        <img src="assets\images\slideshow\5.jpg" />
        <div class="carousel-caption">
          <section class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="1s">
            <h4>Renewable </h4>
            <h3>
              Solar energy from sun is consistent and constant power source and can be used to harness power even in
              remote locations.
            </h3>
            <br><br>
          </section>
        </div>
      </div>
      <div class="item">
        <img src="assets\images\slideshow\7.jpg" />
        <div class="carousel-caption">
          <section class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="1s">
            <h4>Eco-Friendly </h4>
            <h3>
              Eco-friendly products promote green living that help to conserve energy and also prevent air, water and
              noise pollution.
            </h3>
            <br><br>
          </section>
        </div>
      </div>
      <div class="item">
        <img src="assets\images\slideshow\8.jpg" />
        <div class="carousel-caption">
          <section class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="1s">
            <h4>Use Energy From Sun </h4>
            <h3>
              The sun provides a tremendous resource for generating clean and sustainable electricity without toxic
              pollution or global warming emissions.
            </h3>
            <br><br>
          </section>
        </div>
      </div>
    </div>
    <a href="#uma" class="left carousel-control" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a href="#uma" class="right carousel-control" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>
</div>