<div class="container-fluid about">
    <div class="row heading">
        <!-- <div class="col-md-12 parallax" data-parallax="scroll" data-z-index="-1" data-image-src="assets/images/slideshow/1.jpg"> -->
        <div class="col-md-12">
            Aviva power
            <hr class="light">
        </div>
    </div>
    <div class="col-md-12">
        <br>
        <br>
        <p> &bull; As the leading provider of Smart solar energy solutions AVIVA Power is the active contributor in shaping the
            solar revolution.</p>

        <p>
            &bull; Our aim is to generate energy for the future. Solar power remains the most secure source of energy for the future.
            We set global standards in achieving this goal.
        </p>
        <p>

            <b>Integrity</b>
            <br> &bull; We believe this is key to any successful relationship. It is important to AVIVA POWER that our Clients
            and Team members have a strong foundation of trust in each other.
        </p>
        <p>
            <b>Ethical Conduct</b>
            <br> &bull; We believe this is the cornerstone of good business. We are committed to honesty and high morals in all
            dealings, both internally and externally.
        </p>
    </div>
    <div class="row heading">
        <div class="col-md-12">
            Vision & Mission
            <hr class="light">
        </div>
    </div>
    <div class="col-md-12">
        <br>
        <br>
        <p> &bull; To be a global, innovative and competitive Renewable Energy Enterprise providing total solutions to customers
            of Renewable Energy Products and Services.</p>
        <p>&bull; To be a leading Renewable Energy enterprise, providing superior quality products and services at competitive
            prices.
        </p>
    </div>
    <div class="row heading">
        <div class="col-md-12">
            What We Do
            <hr class="light">
        </div>
    </div>
    <div class="col-md-12">
        <br>
        <br>
        <p> &bull; Provide unique Solutions and Techniques to ensure the successful delivery of renewable and sustainable energy
            projects promptly.</p>
        <p>
            &bull; Deliver a value for our clients with creative, experienced and highly skilled Engineering team in the design, installation,
            operation and maintenance of high quality sustainable Energy Solution.
        </p>
        <p>
            &bull; Produce Solar Photovoltaic power plant in various application such as residential, industries, Commercial and agriculture.
        </p>
        <p>
            &bull; Aviva Power offers tailored solution according to the client best interest and needs.
        </p>
    </div>
</div>