<div class="container-fluid">
  <div class="row heading">
    <div class="col-md-12">
      <hr> Our Achievements
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <img src="assets\images\gal\a.jpg" alt="" class="img-responsive">
      <h4>Agra</h4>
    </div>
    <div class="col-md-6 col-sm-12">
      <img src="assets\images\gal\b.jpg" alt="" class="img-responsive">
      <h4>Agra</h4>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <img src="assets\images\gal\c.jpg" alt="" class="img-responsive">
      <h4>Agra</h4>
    </div>
    <div class="col-md-6 col-sm-12">
      <img src="assets\images\gal\k.jpg" alt="" class="img-responsive">
      <h4>Nagpur</h4>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <img src="assets\images\gal\g.jpg" alt="" class="img-responsive">
      <h4>Nagpur</h4>
    </div>
    <div class="col-md-6 col-sm-12">
      <img src="assets\images\gal\m.jpg" alt="" class="img-responsive">
      <h4>Nagpur</h4>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <img src="assets\images\gal\n.jpg" alt="" class="img-responsive">
      <h4>Nagpur</h4>
    </div>
    <div class="col-md-6 col-sm-12">
      <img src="assets\images\gal\l.jpg" alt="" class="img-responsive">
      <h4>Nagpur</h4>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <img src="assets\images\gal\2.jpg" alt="" class="img-responsive">
      <h4>Agra</h4>
    </div>
    <div class="col-md-6 col-sm-12">
      <img src="assets\images\gal\3.jpg" alt="" class="img-responsive">
      <h4>Nagpur</h4>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <img src="assets\images\gal\4.jpg" alt="" class="img-responsive">
      <h4>Nagpur</h4>
    </div>
    <div class="col-md-6 col-sm-12">
      <img src="assets\images\gal\o.jpg" alt="" class="img-responsive">
      <h4>Nagpur</h4>
    </div>
  </div>
  <br>
  </div>