<div class="container-fluid contact">
  <div class="row heading">
    <div class="col-md-12">
      &#9965; Solar EPC Services
      <hr class="light">
    </div>
  </div>
  <br>
  <div class="col-md-8">
    <b>
      <u> ENGINEERING</u>
    </b>
    <br> Aviva Power Services studies and record every aspect of your project to ensure an optimum design and offer the best
    solution to reduce the cost and maximize efficiency, for all phases of the project.
    <br>
    <b>
      <u> PROCUREMENT</u>
    </b>
    <br> We have developed and cultivated a broad base of vendor relationships in India and abroad to ensure the availability
    of quality equipment from reputable manufacturers and supplier at a competitive price.
    <br>
    <b>
      <u> CONSTRUCTION</u>
    </b>
    <br> Our team has a great experience in the construction of all the different phases of the project, from civil works, structural
    works and low voltage wiring to substations and high voltage power lines.
    <br>
  </div>
  <div class="col-md-4">
    <img src="assets/images/gal/w.jpg" alt="" class="img-responsive" class="img-thumbnail">
  </div>
  <br>  <br>
  <div class="row heading">
    <div class="col-md-12">
      &#9965; SOLAR WATER PUMPING
      <hr class="light">
    </div>
  </div>
  <br>
  <div class="col-md-8">
    <b>
      <u>FOR IRRIGATION</u>
    </b>
    <br> The need to irrigation agriculture land efficiency, economically and sustainably is critical for food security. Costs
    for irrigation using diesel power are rising at >10% per year. Solar irrigation solutions are a very attractive alternative
    to diesel powered pumping and support sustainable agriculture.
    <br>
    <b>
      <u>FOR DRINKING WATER</u>
    </b>
    <br> Access to clean, reliable water supply is critical for the survival of humans and animals. Ground Water sources offer
    a cleaner and reliable supply of drinking Water. Solar pumping products deliver drinking water to people and livestock
    economically and reliably.
    <br>
    <b>
      <u>FOR SWIMMING POOLS</u>
    </b>
    <br> For homes with swimming pools, circulation and filtration pumps used to keep pools clean are typically the second biggest
    consumer of electricity. Pool pumps are a compelling proposition for homeowners and commercial pool operators in a sector
    where operating costs need to be minimized.
    <br>
    <hr>
  </div>
  <div class="col-md-4">
    <img src="assets/images/gal/x.jpg" alt="" class="img-responsive" class="img-thumbnail">
  </div>
  <br>  <br>
  <div class="row heading">
    <div class="col-md-12">
      &#9965; SOLAR INSTALLATION AND COMMISSIONING SERVICES
      <hr class="light">
    </div>
  </div>
  <br>
  <div class="col-md-8">
    With the continuous support and sincere efforts put by our experienced professionals, we have been able to provide our clients
    the best quality MW Solar Project Installation & Commissioning Services. Offered services are rendered under the strict
    supervision of our experts using optimum grade tools, machinery and latest technology. Our professionals perform these
    services as per the requirements of our clients. Further, the provided services can be availed by our valuable clients
    at competitive prices.
    <br>
    <hr>
    <b>
      <u>OFFERED I&C SERVICES INCLUDES</u>
    </b>
    <br> &bull; TS Surveyor (Total Station Survey)
    <br> &bull; Drilling by Tractor Auger or DTH Machine
    <br> &bull; Civil Work
    <br> &bull; Structure Erection and Module Installation
    <br> &bull; DC Work
    <br> &bull; Earthing Work
    <br> &bull; Switch yard and AC
    <br> &bull; Inverter Installation and commissioning
    <br> &bull; Material unloading and Shifting
  </div>
  <div class="col-md-4">
    <img src="assets/images/gal/z.jpg" alt="" class="img-responsive" class="img-thumbnail">
  </div>
  <br>  <br>
  <div class="row heading">
    <div class="col-md-12">
      &#9965; SOLAR O&M (OPERATION AND MAINTENANCE)
      <hr class="light">
    </div>
  </div>
  <br>
  <div class="col-md-8">
    Aviva Power offers solar plant O&M services which range from 24X7 plant maintenance to monitoring. The objective of maintenance
    is always focused on the optimization of the production and to increase the efficiency, through the regular analysis
    and measurement of all elements.
    <br>
    <hr>
    <b>
      <u>SCOPE OF SERVICE</u>
    </b>
    <br> &bull; Plant monitoring (at string level) and recording data
    <br> &bull; Documentation as per ISO 9001 Quality Standard
    <br> &bull; Complete operation under applicable safety, health and environment regulations
    <br> &bull; Daily and monthly performance data reporting
    <br> &bull; Scheduled and predictive maintenance as recommended by the manufacturer
    <br> &bull; Inspection and maintenance works at regular intervals
    <br> &bull; Troubleshooting 24×7
    <br> &bull; Module cleaning system
    <br>
  </div>
  <div class="col-md-4">
    <img src="assets/images/gal/y.png" alt="" class="img-responsive" class="img-thumbnail">
  </div>
  <br>  <br><br>  <br>
</div>

<!-- &#9788; &#9965;
&#9728; &#9881;
&#9788; &#9965; -->