<div class="container-fluid about">
    <div class="row heading">
        <div class="col-md-12">
            Love to hear from you
            <hr class="light">
        </div>
    </div>
    <div class="row qq">
        <div class="col-md-12 col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7243.573627610272!2d85.00840007391217!3d24.802752486324504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1546501661501"
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row qq">
        <div class="col-md-12 col-sm-6">
            <h4>&#9679; Head Office :<b>Meraj Manzil,Buttom Bridge, Gaya, Bihar, 823001</b></h4>
            <h4>&#9679; Branch Office :<b>Yamuna Vihar, C-Block, Delhi, 110053</b></h4>
        </div>
    </div>


    <hr>
    <button type="button" data-toggle="modal" data-target="#umar" class="btn btn-danger btn-block">Write To Us</button>
    <div id="umar" class="modal fade" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title heading">Aviva Power</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" enctype="multipart/form-data" method="POST" accept-charset="UTF-8"
                        action="https://formspree.io/mdumarqadeer@gmail.com">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Question</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" required class="form-control" placeholder="Your Queries">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">E-Mail</label>
                            <div class="col-sm-10">
                                <input type="email" name="email" required class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Mobile</label>
                            <div class="col-sm-10">
                                <input type="tel" name="tel" class="form-control" pattern="[0-9]{10}" title="Enter 10 digit number"
                                    placeholder="Mobile No">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" value="Submit" class="btn btn-success"> &nbsp;
                                <input type="reset" value="Reset" class="btn btn-danger">
                            </div>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <hr>


    <div class="row">
        <div class="col-md-12 col-sm-6 hl" style="text-align:center">
            &nbsp; &#8739; &nbsp;
            <span>
                <i class="fa fa-phone"></i> 91-7774898073
            </span>&nbsp; &#8739; &nbsp;
            <span>
                <i class="fa fa-phone"></i> 91-8800486236
            </span>&nbsp; &#8739; &nbsp;
            <span>
                <i class="fa fa-phone"></i> 91-7906764652
            </span>&nbsp; &#8739; &nbsp;
            <span>
                <i class="fab fa-whatsapp"></i> 91-9557539049
            </span>&nbsp; &#8739; &nbsp;
            <span>
                <i class="fab fa-google"></i> asif.avivapower@gmail.com
            </span>&nbsp; &#8739; &nbsp;
            <span>
                <i class="fa fa-envelope"></i> avivapower@outlook.com
            </span>&nbsp; &#8739; &nbsp; <br> <br>

            <!-- <a>
                <i class="fa fa-phone"></i> 91-7906764652
            </a><br><br>
            <a>
                <i class="fab fa-whatsapp" ></i> 91-9557539049
            </a><br><br>
            <a>
                <i class="fab fa-google"></i> asif.avivapower@gmail.com
            </a><br><br>
            <a>
                <i class="fa fa-envelope"></i> avivapower@outlook.com
            </a><br><br> -->

            <!-- <form enctype="multipart/form-data" method="POST" accept-charset="UTF-8" action="https://formspree.io/mdumarqadeer@gmail.com">
                <form accept-charset="UTF-8" action="https://usebasin.com/f/5769d9f29670" method="POST">
                <input type="text" name="name" placeholder="Your Questions">
                <input type="email" name="email" placeholder="Email">
                <input type="tel" name="tel" placeholder="Mobile No. required">
                <button type="submit">Send</button>
            </form> -->
        </div>
    </div>
</div>