<div class=contact>
    <app-slideshow></app-slideshow>
    <br>
    <br>
    <br>

    <div class="container-fluid">
        <div class="row heading">
            <div class="col-md-12">
                What We Do
                <hr class="light">
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container-fluid siximg">
        <div class="row padding text-center">
            <div class="col-xs-12 col-sm-6 col-md-4  wow fadeInLeft" data-wow-delay="0.6s">
                <img src="assets/images/gal/p.jpg" alt="" class="img-responsive" class="img-thumbnail">
                <h3>Site Survey</h3>
                <p>Comprehensive Engineering
                    <br> Assessment </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4  wow fadeInLeft" data-wow-delay="1s">
                <img src="assets/images/gal/q.jpg" alt="" class="img-responsive" class="img-thumbnail">
                <h3>Installation</h3>
                <p>Construction
                    <br> Periodic Inspection</p>
            </div>
            <div class="col-xs-12  col-md-4  wow fadeInLeft" data-wow-delay="1.4s">
                <img src="assets/images/gal/r.png" alt="" class="img-responsive" class="img-thumbnail">
                <h3>System Design</h3>
                <p>Structure Analysis
                    <br> Array Layout
                    <br> Electrical Specification</p>
            </div>
        </div>

        <div class="row padding text-center">
            <div class="col-xs-12 col-sm-6 col-md-4  wow fadeInLeft" data-wow-delay="1.8s">
                <img src="assets/images/gal/s.jpg" alt="" class="img-responsive" class="img-thumbnail">
                <h3>Monitoring & Maintenance</h3>
                <p>Solar Production
                    <br> Energy Consumption
                    <br> 24 hrs System Monitoring</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4  wow fadeInLeft" data-wow-delay="2.2s">
                <img src="assets/images/gal/u.png" alt="" class="img-responsive" class="img-thumbnail">
                <h3>Permission & Approvals</h3>
                <p>Customer Review
                    <br> Building Permit Approvals
                    <br> Statutory Clearances & Approvals</p>
            </div>
            <div class="col-xs-12  col-md-4  wow fadeInLeft" data-wow-delay="2.6s">
                <img src="assets/images/gal/t.jpg" alt="" class="img-responsive" class="img-thumbnail">
                <h3>Final Inspection & Commissioning</h3>
                <p>Quality Control
                    <br> Quality Assurance
                    <br> Punch Point Liquidation
                    <br> Flawless Startup </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container-fluid text-center padding">
        <div class="row heading">
            <div class="col-md-12">
                Solar System
                <hr class="light">
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
    <div class="container-fluid haha">
        <div class="row padding">
            <div class="col-md-6 wow fadeInLeft" data-wow-delay="1.4s">
                <div class="panel panel-danger">
                    <div class="panel-heading" id="uma">
                        <b>OFF GRID SOLAR SYSTEM QUICK FIX</b>
                    </div>
                    <div class="panel-body">
                        <p>
                            <img src="assets/images/gal/off.jpg" class="img-responsive img thumbnail" align="left" vspace="0" hspace="3" width="50%">Off- Grid can be stand alone power system or mini- grids typically to provide a smaller community
                            with electricity. Off grid solar power solar also stores DC electricity in batteries.</p>
                        <b>
                            <u>Off Grid Applications</u>
                        </b>
                        <br> &bull; Solar Home system
                        <br> &bull; Solar water pumping system
                        <br> &bull; Solar battery charging system
                        <br> &bull; Solar power traffic lighting system

                    </div>
                </div>
            </div>
            <div class="col-md-6 wow fadeInLeft" data-wow-delay="1.8s">
                <div class="panel panel-danger">
                    <div class="panel-heading" id="uma">
                        <b>ON GRID SOLAR SYSTEM QUICK FIX</b>
                    </div>
                    <div class="panel-body">
                        <p>
                            <img src="assets/images/gal/ong.jpg" class="img-responsive img thumbnail" align="left" vspace="0" hspace="3" width="50%">You don't have to worry about storing any energy. The grid will usually be there to make sure
                            all the loads can run when the user wants them.</p>
                        <b>
                            <u>On Grid Applications</u>
                        </b>
                        <br> &bull; Solar Home system - Feed in Tariff (FIT)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <div class="container-fluid text-center padding">
        <div class="row heading">
            <!-- <div class="col-md-12 bb1 wow fadeInLeft" data-wow-delay="1.0s"> -->
            <div class="col-md-12">
                Testimonials
                <hr class="light">
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>




    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-center">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="img-box">
                                <img src="assets/images/people/a (1).jpg" alt="">
                            </div>
                            <p class="testimonial">
                                Because we are now running out of gas and oil, we must prepare quickly for a third change, to strict conservation and to
                                the use of... permanent renewable energy sources, like solar power.
                            </p>
                            <p class="overview">
                                <b>Jimmy Carter</b>, 39th U.S. President</p>
                        </div>
                        <div class="item carousel-item">
                            <div class="img-box">
                                <img src="assets/images/people/a (8).jpg" alt="">
                            </div>
                            <p class="testimonial">
                                Solar Power is the last energy resource that isn't owned yet - nobody taxes the sun yet.
                            </p>
                            <p class="overview">
                                <b>Bonnie Raitt</b>, Singer-Songwriter</p>
                        </div>
                        <div class="item carousel-item">
                            <div class="img-box">
                                <img src="assets/images/people/a (5).jpg" alt="">
                            </div>
                            <p class="testimonial">
                                Every 24 hours, enough sunlight touches the Earth to provide the energy for the entire planet for 24 years.
                            </p>
                            <p class="overview">
                                <b>Martha Maeda</b>, Author</p>
                        </div>
                        <div class="item carousel-item">
                            <div class="img-box">
                                <img src="assets/images/people/a (4).jpg" alt="">
                            </div>
                            <p class="testimonial">The primary means of energy generation is going to solar. It will at least be a plurality, and
                                probably be a slight majority in the long term. </p>
                            <p class="overview">
                                <b>Elon Musk</b>, CEO of Tesla Motors</p>
                        </div>
                        <div class="item carousel-item">
                            <div class="img-box">
                                <img src="assets/images/people/a (3).jpg" alt="">
                            </div>
                            <p class="testimonial">It’s really kind of cool to have solar panels on your roof.</p>
                            <p class="overview">
                                <b>Bill Gates</b>, Business Magnate</p>
                        </div>
                        <div class="item carousel-item">
                            <div class="img-box">
                                <img src="assets/images/people/a (10).jpg" alt="">
                            </div>
                            <p class="testimonial">Solar power seems to be truly bipartisan in its appeal.</p>
                            <p class="overview">
                                <b>Bill McKibben</b>, Environmentalist</p>
                        </div>
                        <div class="item carousel-item">
                            <div class="img-box">
                                <img src="assets/images/people/a (9).jpg" alt="">
                            </div>
                            <p class="testimonial">The use of solar energy offers huge potential for natural resource and climate protection, and
                                for the expansion of renewable energies on the road to a future-oriented energy supply.</p>
                            <p class="overview">
                                <b>Margareta Wolf</b>, German Politician</p>
                        </div>
                        <div class="item carousel-item">
                            <div class="img-box">
                                <img src="assets/images/people/a (11).jpg" alt="">
                            </div>
                            <p class="testimonial">The whole idea of the solar project is to do something useful and replace dirty energy with clean
                                energy. </p>
                            <p class="overview">
                                <b>Nick Kelly</b>, New Zealand Cricketer</p>
                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>